* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite DE Grund", sans-serif;
}

.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    height: 250px;
    width: 100%;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 2px -2px #a3a3a3;
}

.page-title {
    font-size: 64px;
    font-weight: bold;
}

.name-input-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 25px;
    width: 500px;
    height: 350px;
    background-color: beige;
    box-shadow: 2px 2px 2px 2px #a3a3a3;
    border-radius: 20px;
}

.input-heading {
    font-size: 32px;
    font-weight: bold;
}

label {
    text-align: center;
}

.name-input {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

#player-one, #player-two {
    width: 300px;
    height: 30px;
    padding: 10px;
    border-radius: 20px;
    background-color: #cbd5e1;
    border: 1px solid #cbd5e1;
    box-shadow: 1px 1px 1px 1px #a3a3a3;
}

#player-one:focus, #player-two:focus {
    outline: 2px solid #3b82f6;
}

#start-button {
    margin-top: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: #14532d;
    border: 1px solid #14532d;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#start-button:hover {
    background-color: #166534;
}

#start-button:active {
    background-color: #15803d;
}

.game-display {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-container {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
    width: 600px;
    height: 100px;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #a3a3a3;
}

.info {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
}

.game {
    display: none;
    margin: 50px;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    padding: 40px;
    background-color: beige;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px #a3a3a3;
}

.board-cell {
    background-color: white;
    box-shadow: 2px 2px 2px 2px #a3a3a3;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}